<!-- error.html -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/error.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/error.js') }}"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if mode == "1" %}
        <title>FaunaFinder Error</title>
        {% else %}
        <title>FaunaFinder Result Not Found</title>
        {% endif %}
    </head>
    <body>
        <div class="container">
            <h1>Our web application could not process your request. Please search for a new animal.</h1>
            <br>
            {% if mode == "1" %}
            <h2>Reason: Internal Server Error</h2>
            {% endif %}
            {% if mode == "2" %}
            <h2>Reason: Animal Picture Could Not Be Interpretted.</h2>
            {% endif %}
            {% if mode == "3" %}
            <h2>Reason: Animal Not Found.</h2>
            {% endif %}
            <button class="btn" onclick='changePage("/index")'>Search A New Animal</button>
        </div> 
    </body>
</html>