 <!-- 
Frontend for the Web Application
Made by Shivam Kharangate & Kartavya Singh
Date: 11/4/2023 
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <title>Animal And Breed Finder</title>
</head>
<body>
    <h1 id="header">Animal and Breed Finder</h1>
    <label for="file-upload" id="image-label">Upload Image</label>
    <input type="file" id="file-upload" accept="image/gif, image/jpeg, image/png">

    <div id="file-name"></div>

    <div id="form-container">
        <!-- Add an img element to display the uploaded image -->
        <img src="" id="uploaded-image" alt="Uploaded Image">
        <input type="text" id="text-input" placeholder="Enter text">
        <button id="submit-button" onclick="submitForm()">Generate</button>

    </div>


</body>
</html>