body{
    background-color: #000000;
    color: #FFFFFF;
    background: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-content: center;
    padding: 10%;
}
.btn{
    display: inline-block;
    margin: auto;
    width: fit-content;
    border: 1px solid #0aaac2;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    background: #000000;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #16e0ff;
}
.container{
    text-align: center;
}