/* results.css */
body{
    background-color: #000000;
    color: #FFFFFF;
    background: url("../images/results_background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.top {
    text-align: center;
    font-size: 48px;
}

#header {
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    /* margin-top: 50px; */
}

#header:hover {
    color: #16eeee;
    #black-letter {
        color: #FFFFFF;
    }
}

#black-letter {
    color: #16eeee;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.left-section {
    width: 70%;
    float: left;
    padding: 2.5%;
    text-align: center;
}

.right-section {
    width: 20%;
    float: right;
    padding: 2.5%;
    align-content: center;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

table {
    align-content: center;
    width: auto;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.characteristics {
    margin: 0 auto;
    max-width: 75%;
}

.classification {
    margin: 0 auto;
    width:auto;
    max-width: 100%;
}

.similarBreeds {
    margin: 0 auto;
    width:auto;
    max-width: 100%;
}

.button-container {
    text-align: center;
    position: relative;
    width: 100%;
}

.btn {
    display: inline;
    margin: auto;
    width: fit-content;
    border: 1px solid #0aaac2;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    background: #000000;
    color: #fff;
    transition: background 0.5s;
    position: absolute;
    bottom: 10px; /* Adjust this value to control the vertical position */
    left: 50%; /* Center the button horizontally */
    transform: translateX(-50%); /* Center the button horizontally */
}

.btn:hover {
    background: #16e0ff;
}

.name {
    text-decoration: none;
    color: #FFFFFF;
    animation: slideColor 0.5s infinite alternate;
}

@keyframes slideColor {
    0% {
        color: #16eeee;
    }
    100% {
        color: #FFFFFF;
    }
}

.name:hover {
    animation: none; /* Stop the animation on hover */
    color: #16e0ff;
}

