body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: hidden;
    color: #fff;
}
