body{
    font-family: 'Arial', sans-serif;
    text-align: center;
}
#header{
    font-size: 24px;
    margin-top: 50px;
}
#file-upload{
    display: none;
}
#image-label{
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}